body{
    margin:0;
    padding:0;
    
}

#heading{
    background-color: orange;
    border-radius: 21%;
    padding:1%;
}

.dabba{
    width:90%;
    display:flex;
    flex-flow: row;
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    padding-right:5%;
}

.queue{
    display:grid;
    margin-left:3%;
    margin-right:3%;
    background-color: antiquewhite;
}

hr{
    color:gray;
    border:3px solid ;
    width:100%;
    height:3%;
}